<h1>Listing Authors</h1>

<p><%= link_to 'New author', new_author_path %></p>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Homepage</th>
    <th></th>
  </tr>

  <% @authors.each do |author| %>
    <tr>
      <td><%= author.first_name %></td>
      <td><%= author.last_name %></td>
      <td><%= author.homepage %></td>
      <td><%= link_to 'Show', author_path(author) %></td>
    </tr>
  <% end %>
</table> 