<h1>New Author</h1>
<%= form_with scope: :author, local: true do |form| %>
  <p>
    <%= form.label :"First Name" %><br>
    <%= form.text_field :first_name %>
  </p>
 
  <p>
    <%= form.label :"Last Name" %><br>
    <%= form.text_area :last_name %>
  </p>
 
  <p>
    <%= form.label :"Homepage" %><br>
    <%= form.text_area :homepage %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>