<h1>New Author</h1>
<%= form_with scope: :author, url: authors_path, local: true do |form| %>

  <% if @author.errors.any? %>
    <p>
    <%= form.label :"Nope" %><br>
    <%= form.text_field :"You can't submit authors without a last name" %>
  </p>

  <% else %>
  <p>
    <%= form.label :"First Name" %><br>
    <%= form.text_field :first_name %>
  </p>
 
  <p>
    <%= form.label :"Last Name" %><br>
    <%= form.text_field :last_name %>
  </p>
 
  <p>
    <%= form.label :"Homepage" %><br>
    <%= form.text_field :homepage %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  <% end %>
    
  
<% end %>