<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @paper.venue %>
</p>

<p>
  <strong>Year:</strong>
  <%= @paper.year %>
</p>

<h2>Authors</h2>
<% @paper.authors.each do |author| %>
  <p>
    <strong>Author:</strong>
    <%= author.first_name %>
    <%= author.last_name %>
  </p>
 
  <p>
    <strong>Homepage:</strong>
    <%= author.homepage %>
  </p>
<% end %>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
